models-weights/*.pt filter=lfs diff=lfs merge=lfs -text
models-weights/*.pth filter=lfs diff=lfs merge=lfs -text
models-weights/*.npy filter=lfs diff=lfs merge=lfs -text
# models-weights/** filter=lfs diff=lfs merge=lfs -text

extractors-weights/*.pt filter=lfs diff=lfs merge=lfs -text
extractors-weights/*.pth filter=lfs diff=lfs merge=lfs -text
extractors-weights/*.npy filter=lfs diff=lfs merge=lfs -text
# extractors-weights/** filter=lfs diff=lfs merge=lfs -text